@font-face{
    font-family: neu;
    src: url(/NeueHaasDisplayBold.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'neu';
}

html, body{
    height: 100%;
    width: 100%;
}



#page1{
    padding: 0 3vw;
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
}

nav{
    padding: 2vw 2vw;
    width: 100%;
    display: flex ;
    align-items: center;
    justify-content: space-between;
}

.nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;

}

.nav-part2 h4{
    padding: 10px 20px;
    border: 1px solid rgba(128, 128, 128, 0.842);
    border-radius: 50px;
    color: #000000bb;
    font-size: 17px;
    font-weight: 500;
    position: relative;
    overflow: hidden;
}

 .nav-part2 h4::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    color: #EFEAE3;
    left: 0;
    bottom: -100%;
    transition: all ease 0.2s;
}

.nav-part2 h4:hover::after{
    color: #EFEAE3;
    border-radius:50px;
    bottom: 0;
    cursor: pointer;
}

.nav-part2 h4 a{
    text-decoration: none;
    color: black;
    z-index: 9;
    position: relative;
}

.nav-part2 h4:hover a{
    color: #EFEAE3;
}


#center{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid black;
    font-family: neu;

}

 #left h3{
    width: 30vw;
    font-size: 2vw;
    line-height: 2vw;
}

#right h2{
    font-size:10vw;
    text-align: right;
    line-height: 9vw;

}


#hero-shape{
     width: 50vw;
     height: 56vw;
     position: absolute;
     right: 0;
     top: 90vh;
     margin-right: 2vw;
     overflow: hidden;
}
#hero1{
    height: 40vw;
    width: 40vw;
    margin-top: 5vw;
    margin-left: 5vw;
    position: absolute;
    background-color: orangered;
    border-radius: 50%;
    filter: blur(12px);

}
#hero2{
    margin: 1vw;
    left: 0;
    height: 40vw;
    width: 40vw;
    border-radius: 50%;
    position: absolute;
    background-color: orangered;
    filter: blur(12px);
    animation: anime3 7s infinite linear alternate-reverse;


}

#hero3{
    left: 7vw;
    margin-top: 8vw;
    height: 45vw;
    width: 46vw;

    position: absolute;
    background: linear-gradient(orangered,orange) ;
    border-radius: 32%;
    filter: blur(20px);
    animation: anime3 6s infinite linear alternate-reverse;

}


@keyframes anime3{

    0% {
        transform: translateX(0) translateY(0);
      }
      25% {
        transform: translateX(-50px) translateY(0);
      }
      50% {
        transform: translateX(0) translateY(50px);
      }
      75% {
        transform: translateX(50px) translateY(0);
      }
      100% {
        transform: translateX(0) translateY(0);
      }
} 
    

#page1 video{
    position: relative;
    margin-top: 4vw;
    width: 100%;
    border-radius: 25px;
}


#page2{
    width: 100%;
    min-height: 100vh;
    background-color: #EFEAE3;
    padding:8vw 0;
    position: relative;
}

#moving-text{
    white-space: nowrap;
    overflow-x: auto;
}
#moving-text::-webkit-scrollbar{
    display: none;
}

.con{
    white-space:nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 14s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

 h1{
    font-size: 9vw;
    display: inline-block;
}

#gola{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #EF320A;
    display: inline-block;
    margin: 1vw 3vw;

}

@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    
}

#page2-bottom{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vw;
    position: relative;
    z-index: 9;
}

#page2-bottom h2{
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;
}

#page2-part{
    width: 23%;
}

#page2-part img{
    margin-top: 14vh;
    width: 100%;
    border-radius: 10px;
}

#page2-part p{
    font-family:'Times New Roman', Times, serif;
    margin-top: 8vh;
    font-weight: 200;
    text-align: justify;
}

#page2 #gooye {
    height: 32vw;
    width: 32vw;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0px 80px 80px 0px #eb6f28;
    background:linear-gradient( to top right ,#EF320A,#eb6f28);
    top: 58%;
    left: 25%;
    filter:blur(25px);
    animation-name: gooye;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes gooye {
    from{
        transform: translate(15%,-10%)skew(0);
    }
    to{
        transform: translate(-10%,10%)skew(-12deg);
    }
    
}


#page3{
    width: 100%;
    min-height: 100vh;
    background-color: #EFEAE3;
    padding: 4vw 0;
    
}

#elem{
    height: 15vh;
    width: 100%;
    position: relative;
    align-items: center;
    display: flex;
    padding: 0 3vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.664);
    overflow: hidden;
    
}

#elem .overlay{
    width: 100%;
    height: 100%;
    background-color:rgb(197, 131, 9);
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.3s;

}

#elem:hover .overlay{
    top: 0;
}

#elem h2{
    position: relative;
    font-size: 3.5vw;
    z-index: 9;
}


#fixed-img{
    width: 24vw;
    height: 30vw;
    z-index: 99;
    border-radius: 10px;
    position: fixed;
    left: 50%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position: center;

}